JWT_SECRET=
MONGODB_URI=mongodb://localhost:27017/dummy_db?retryWrites=true&w=majority
BOOTSTRAP_SERVERS=<confluent-cloud-cluster(create-free-account)>
SASL_USERNAME=<confluent cloud username>
SASL_PASSWORD=<confluent cloud secret>